:root{
  --background: url('/images/portfolio-background.jpeg');
  --background: #373B40;
  --h3-color:brown;
  --nav-background-color:#585D65;
  --text-color:#65e0cf;
  
}

html{
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color:white
}

body{
  background: var(--background);;
  background-repeat: round;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

ul{
  list-style: none;
}

.content{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: flex-end;
}

.background-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 45%;
  height: 100%
}

.background-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #68e0cf
}

.background-filter .background-img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  mix-blend-mode: luminosity
}

.background-filter.gradient:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -moz-radial-gradient(center,ellipse cover,rgba(0,0,0,.5) 0%,#373b40 90%);
  background: -webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,.5) 0%,#373b40 90%);
  background: radial-gradient(ellipse at center,rgba(0,0,0,.5) 0%,#373b40 90%)
}

.background-filter.gradient .background-img {
  -webkit-filter: none;
  filter: none;
  mix-blend-mode: unset
}

.background-filter.circle {
  clip-path: circle(75% at 10% 45%);
  -webkit-clip-path: circle(75% at 10% 45%)
}

.background-filter.circle .background-img {
  -webkit-filter: none;
  filter: none;
  mix-blend-mode: unset
}

.background-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover
}
/* cp */
.social a:hover{
  color:var(--text-color);
}
.contacts-btn:hover{
  color:var(--text-color);
  border-color:  var(--text-color);
}

.social{
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #585d65;
  flex-direction: column-reverse;
  align-items: center;
}

.social a{
  margin-bottom: 15px;
  height: 54px;
  width: 54px;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  background: #373b40;
  border: 1px solid #585d65;
  border-radius: 54px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.content-inner{
  height: 100%;
  width: 100%;
  max-width: 63vw;
  margin-right: 100px;
  margin-top: 150px;
  z-index: 1;
}
.under-main-title{
  /* border:2px solid red; */
  padding: 0%;
  max-width: 50%;
}

.h-title{
  font-size: 5rem;
  font-weight: bolder;
  background: var(--background);
  border-radius: 1150px;
  padding: 80px;
}
.contacts-btn{
  margin: 20px 15px 0px 0px;
  text-decoration: none;
  color: white;
  border:1px solid white;
  border-radius: 75px;
  padding: 20px;
  background-color: transparent;
}

.content-inner .section{
  /* just to check the section work well */
  min-height: 300px;
  margin-left: 200px;  
  border-bottom:  1px solid #585d65;
  /* font-size: 14px; */
  font-size: 1.5rem;
  padding: 70px 8%;
  z-index: -1;
}


.section .title h1 {
  font-size: 4rem;
  margin: 10px 0;
}

.section .title h3 {
  margin: 0;
  color: #68e0cf;
}

.section .title{padding-bottom: 40px;}
.content-inner .first{
  padding-top: 0px;
}
.first{
  margin-top: 5%;
  height: 50vh;
}
.content-inner h1{
  margin:0px;
}
.personal-info{
  margin-top: 20px;
  font-size: 0.86rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.personal-info__item{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.personal-info__item span{
 color:var(--text-color);
 font-weight: 600;
}
.year-display{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr ;
}
.wraper-years{
  margin: 5px;
  display: flex;
  transform: translateX(-5rem);
}
.wraper-years p{
  margin: 5px;
}
.years{
  padding-right: 10px;
  color: var(--text-color);
  font-size: 12px;
  transform: rotate(90deg);
}
.years-title{
  line-height: 2.5rem;
  font-size: 2rem;

}

.contact-frm{
  display: flex;
  /* border:1px solid red; */

}
.left-side-contact{
  width: 50%;
  /* border:1px solid red; */
  display: flex;
  flex-direction: column;
}
.right-side-contact{
  width: 50%;
  border: 1px solid #585d65;
  border-radius: 30px;
  padding: 0 30px;

}

.group-label {
  margin-bottom: 10px;
  position: relative;
  padding: 0 30px;
  /* display: block; */
  /* font-family: "Poppins"; */
  font-size: 14px;
  height: 64px;
  width: 50%;
  color: #fff;
  background: 0 0 !important;
  border: 1px solid #585d65;
  resize: none;
  outline: 0;
  border-radius: 30px;
  /* -moz-border-radius: 30px; */
  /* -webkit-border-radius: 30px;
  -khtml-border-radius: 30px; */
  transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
}
.group-label--textarea{

  resize: none;
  height: initial;
}
.group-label label {
  padding: 0 10px;
  position: absolute;
  left: 35px;
  top: -5px;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  font-weight: 800;
  background: #373b40;
  text-transform: uppercase;
  z-index: 2;
}
input,textarea{
  color:inherit;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border:0px;
  resize: none;
}
input:focus-visible ,textarea:focus-visible{
  outline: none;
}
#submit{
  /* margin: 0 15px; */
  border:0px;
  width: 60%;
  height: 20%;
  text-decoration: none;
  color: var(--text-color);
  border:1px solid var(--text-color);
  border-radius: 80px;
  /* padding: 20px 50px; */
  background-color: transparent;
}
#submit {
  padding: 0 35px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 64px;
  line-height: 62px;
  /* text-align: center; */
  font-size: 12px;
  color: #fff;
  font-weight: 800;
  /* text-decoration: none; */
  /* text-transform: uppercase; */
  background: 0 0;
  outline: none;
  border: 1px solid #585d65;
  cursor: pointer;
  border-radius: 64px;
  
}
#submit:hover{
  color: var(--text-color);
  border-color: var(--text-color);
}
